<div class="container">
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
